
/* CSS style code */

:root {
    --sedans: #E38826;
    --suvs: #006970;
    --luxury: #004241;
    --background: #F2F2F2FF;
    --transparent_white: #FFFFFFBF;
}

h2 {
    font-family: 'Big Shoulders Display',
        cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background);
    font-size: 40px;
    margin-top: 1.6rem;
    margin-bottom: 0.9rem;
}

p {
    color: var(--transparent_white);
    margin:  0;
}

body {
    Background-color: var(--background);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-size: 15px;
    font-family: 'Lexend Deca',
        sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.7;
}

.main {
    max-width: 960px;
    font-size: 15px;
    align-self: center;
    margin-inline: 2rem;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-around ;
    flex-direction: column;
    padding: 3rem;
    max-width: 210px;
}

.sedans {
    background-color: var(--sedans);
}

.suvs {
    background-color: var(--suvs);
}

.luxury {
    background-color: var(--luxury);
}

img {
    align-self: flex-start;
}

.button {
    background-color: var(--background);
    mix-blend-mode: screen;
    font-size: 15px;
    padding: 14px 32px; /* Button size */
    border: 2px solid var(--background);
    border-radius: 30px; /* Round corners */
    transition: background-color 0.3s ease;
    margin-top: 5rem; /* Vertical position */
}

.button:hover {
    background-color: transparent;
    color: var(--background);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .button {
        margin-top: 1.6rem;
    }
}